<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <!-- disable back button in the top left corner of the header bar
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
      -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">RapidTransport</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <!-- <ion-item nav-clear menu-close href="#/app/current-ride">
          Aktuelle Fahrt
        </ion-item> -->
        <ion-item nav-clear menu-close href="#/app/next-jobs">
          Nächste Ziele
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/new-job">
          Spontane Fahrt
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pause">
          Pause
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/employees">
          Fahrer
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/shift">
          Schichten
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>