<ion-view title="Spontane Fahrt">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-content>

      <form ng-submit="createRide(ride)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Wo soll es los gehen?" ng-model="ride.start">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Wo soll es hin gehen?" ng-model="ride.end">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Fertig</button>
        </div>
      </form>
  </ion-content>
</ion-view>
